#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 300px;
    width: 400px;
    margin: 5px;
    object-fit: cover;
}

.fa.fa-video-camera .slash:after {
    position: absolute;
    content: "/";
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    left: 0;
    top: 0;
    text-shadow: 3px 0px 0px rgba(0, 0, 0, 1);
    line-height: 32px;
    left: 18%;
    font-family: Arial;
}